.top {
  display: flex;
}

.top-left {
  margin-left: auto;
  margin-right: auto;
}

.top-img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

input:focus {
  outline: rgb(18, 151, 246) 3px solid;
}
.inputText {
  padding: 15px;
  border-radius: 5px;
}

.submitButton {
  padding: 15px;
  border-radius: 5px;
  margin-left: 5px;
}
